
/*==================================================
				CSS Reset
==================================================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/*==================================================
				Common CSS
==================================================*/
.h-1 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 4px;
	font-weight: 300;
}

.h-4 {
	font-size: 15px;
	font-style: italic;
	text-align: center;
	font-weight: normal;
	color: rgb(158, 154, 154);
}

/*==================================================
				Navbar
==================================================*/
#navbar {
	display: flex;
	width: 100vw;
	height: 46.5px;
	background: #000;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 999;
}

#navbar .left {
	width: auto;


}

#navbar .left ul {
	display: flex;
	align-items: center;

}

#navbar .left ul li {
	list-style: none;
	margin-left: 0;
}

#navbar .left ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	padding: 8px 16px;
	text-transform: uppercase;
}

#navbar .left ul li a:hover,
#navbar .dropdown button:hover {
	background: gray;
	color: #000;
}

#navbar .dropdown button {
	vertical-align: middle;
	text-decoration: none;
	padding: 8px 16px;
	color: #fff;
	font-size: 15px;
	background: transparent;
	outline: none;
	border: none;
	text-transform: uppercase;
}

#navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#navbar .dropdown-content a {
	float: none;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	display: none;
	text-align: left;
	font-size: 15px;

}

#navbar .dropdown-content a:hover {
	background-color: #ddd;
}

#navbar .dropdown:hover .dropdown-content {
	display: block;
}

#navbar .right {
	width: auto;
	display: flex;
	justify-content: end;

}

#navbar .right i {
	color: #fff;
	font-size: 21px;
	padding:8px 16px ;
	margin-right: 15px;

}

#navbar .right i:hover {
	background: crimson;
}

/*==================================================
				Home
==================================================*/
#home {
	width: 100vw;
	height: fit-content;
	position: relative;
	top: 45.5px;
}
#home .img img{
	width: 100vw;
	height: fit-content;
}
#home .img .text{
	display: block;
	margin-top: -200px;
	color: #fff;
	text-align: center;
}
#home .img .text h3{
	margin: 10px auto;
	font-size: 24px;
}
#home .img .text p{
	margin: 15px auto;
	font-size: 15px;
}


/*==================================================
				Band
==================================================*/
#band {
	margin: auto;
	margin-top: 264px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

#band p {
	font-size: 15px;
	margin-top: 20px;
	text-align: justify;
	box-sizing: inherit;
	max-width: 800px;

}

#band .team {
	display: flex;
	flex-direction: row;
	width: 275px;
	justify-content: center;
}

#band .team .card {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 100px 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#band .team .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

#band .team .card h2 {
	text-align: center;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 15px;
}
/*==================================================
				Tour
==================================================*/
#tour {
	background: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px;
	width: 100vw;
	margin: 50px auto;
}

#tour .tickets {
	width: 800px;
	background: #fff;
	margin-top: 50px;
	height: fit-content;
}

#tour .tickets ul .card {
	list-style: none;
	padding: 8px 16px;
	color: #757575;

}

#tour .tickets ul .card2 {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

}

#tour .tickets ul .card span {
	background: tomato;
	padding: 0px 8px;
	color: #fff;

}

#tour .tickets ul .card3 span {
	float: right;
	border-radius: 50%;
	background: #000;
}

#tour .places {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	width: 800px;
	margin: 16px;
}

#tour .places .places-card {
	width: 33.33333%;
	height: auto;
	background: #fff;
	margin: 8px;
}

#tour .places .places-card .place-img {
	position: relative;
}

#tour .places .places-card .place-img img {
	width: 100%;
	height: fit-content;
	position: relative;
}

#tour .places .places-card :hover .overlay {
	opacity: 1;
}


.overlay {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 0, 0, 0.3);

}

#tour .places .places-card .art {
	padding: 25px;
}

#tour .places .places-card .place-name {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 15px;
}

#tour .places .places-card .date {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 15px;
	color: gray;
}

#tour .places .places-card p {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 15px;
	margin: 15px auto;
}

#tour .places .places-card .btn {
	color: #fff;
	background: #000;
	font-size: 15px;
	text-align: center;
	padding: 8px 16px;
	margin-bottom: 16px;
	text-decoration: none;
}

#tour .places .places-card .btn:hover {
	background: gray;
	color: #000;
}

/*==================================================
				Contact
==================================================*/
#contact {
	width: 800px;
	display: block;
	margin: auto;
	padding: 64px 16px;


}

#contact .flex {
	padding: 64px 16px;
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;


}

#contact .left {
	width: 415px;
	height: fit-content;
}

#contact .left .location p,
#contact .left .location i,
#contact .left .phone p,
#contact .left .phone i,
#contact .left .email p,
#contact .left .email i {
	display: inline;
	font-size: 18px;
}

#contact .right {
	max-width: 830px;
	display: flex;
	justify-content: end;
}

#contact .right form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 121.5px;
	width: 415px;
	padding: 32px 0px;
}

#contact .right form .name-email {
	width: 415px;
	height: 40.5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#contact .right form .name-email input {
	padding: 8px;
	width: 49%;
	height: 100%;
}

#contact .right form .msg {
	width: 415px;
	height: 40.5px;
	margin-top: 8px;
}

#contact .right form .msg input {
	width: 100%;
	height: 100%;
	padding: 8px;
}

#contact .right form .button {
	float: right;
	width: 415px;
	height: 40.5px;
	margin: 8px;
}

#contact .right form .button a {
	color: #fff;
	background: #000;
	font-size: 15px;
	padding: 8px 16px;
	text-decoration: none;
	float: right;

}

#contact .right form .button a:hover {
	background: gray;
	color: #000;

}

/*==================================================
				Map
==================================================*/
#map {
	width: 100%;
	height: auto;
	margin: auto;

}

#map img {
	width: 100%;
	height: auto;
	filter: grayscale(0.5);
}

/*==================================================
				Footer
==================================================*/
footer {
	display: flex;
	flex-direction: column;
	padding: 64px 16px;
	justify-content: center;
	align-items: center;
}

footer .icons i {
	font-size: 24px;
	margin: 5px;
	color: #000;
	opacity: 0.5;
}

footer .icons i:hover {
	opacity: 0.8;
}

footer .credit p {
	font-size: 15px;
	margin: 15px;
	font-style: italic;
	opacity: 0.5;
}

footer .credit p a {
	font-style: normal;
	color: #000;
}

footer .credit p a:hover {
	opacity: 0.8;
}
